body{
    width: 100%;
}
.contenedor{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
    margin: 0 auto;
    padding: .5rem 1rem;
    height: calc(100vh - 200px);
}
@media only screen and (max-width:768px){
    .contenedor{
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
        gap: .8rem;
        padding: .5rem 1rem;
        overflow-y: scroll;
    }
}
.contenedor .nh{
    width: 100%;
    height: calc(90vh - 200px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid var(--azulBonito) 2px;
    border-radius: 5px;
    margin: 1rem auto;
    height: calc(100vh - 200px);
    padding: .5rem;
}
@media only screen and (max-width:768px){
    .contenedor .nh{
        grid-template-columns: 1fr;
        height: calc(100vh - 200px);
    }
}
.infoProducto p, label{
color: black;
margin-top: 1rem;
}
.infoProducto img{
    width: 80%;
    margin: 0 auto;
    
}
@media only screen and (max-width:768px){
    .infoProducto div{
        width: 100%;
        text-align: center
        ;
    }
    .infoProducto img{
        width: auto;
        display: inline-block;
        height: 6rem;
        margin:  0 auto;
    }
}
form{
    display: flex;
    flex-direction: column;

}
form label{
    font-weight: bold;
    width: 100%;
}

form button{
    width: 90%;
    height: 2.5rem;
    background-color:var(--azulBonito)!important;
    color: white;
    border: none;
    border-radius: 10px ;
    margin: 1rem auto 0 auto;
}
form button:hover{
    box-shadow: var(--azulF) 0 5px 10px;
    color: white;
}
.form-control{
    width: 90%;
    margin: 0 auto;
}
.lista{
    width: 100%;
    margin: 1rem auto;
    border: solid var(--azulBonito) 2px;
    border-radius: 5px;
    text-align: center;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}
.lista button{
    width: 90%;
    height: 2.5rem;
    color: black;
    border: none;
    border-radius: 10px ;
    margin: 0 auto;
    background-color: transparent;
}
.lista button:hover{
    /* box-shadow: var(--azulF) 0 5px 10px; */
    background-color: transparent;
    color: var(--azulF);
}
.lista::-webkit-scrollbar {
    width: 5px;
}

.lista::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(119, 216, 255);
    border-radius: 10px;
}

.listamain::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0, 160, 209);
}
.lista p{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    gap: 1rem;
    background-color: var(--grisBonito);

}

.lista p:nth-child(1){
background-color:var(--azulBonito);
font-weight: bold;
color: var(--morado);
}
/* .lista p:nth-child(n) span{
background-color: var(--grisBonito);
} */

.modal-body p{
    display: block;
}