.lista{
    width: 80%;
    margin: 1rem auto;
    border: solid var(--azulBonito) 2px;
    border-radius: 5px;
    text-align: center;
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

@media only screen and (max-width: 768px){
    .lista{
        width: 90%;
    }    
}
.lista::-webkit-scrollbar {
    width: 5px;
}

.lista::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(119, 216, 255);
    border-radius: 10px;
}

.listamain::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0, 160, 209);
}
.lista p{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    gap: 1rem;
    background-color: var(--grisBonito);
}

.lista p:hover{
    box-shadow:rgb(163, 159, 159) 0 0 10px 3px;
    /* border: solid 2px var(--azulBonito); */


}


.lista p:nth-child(1){
background-color:var(--azulBonito);
font-weight: bold;
color: var(--morado);
}