body {
    height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
    /* background-color: ; */
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azulMedio);
    border-bottom: solid 4px var(--azulMedioFuerte);
    box-shadow: var(--azulF) 0 0 .5rem;
}

header img {
    width: 85px;
    border-radius: 70%;
    padding: 10px 0;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


h1 {
    color: rgb(71, 71, 150);
}

header i {
    color: var(--morado);
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--morado);
}

.navMovil {
    display: none;
}

.navMovil a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navMovil a img {
    width: 60px;
}

.navMovil i {
    display: flex;
}

@media only screen and (max-width:768px) {
    .navEscritorio {
        display: none
    }

    .navMovil {
        display: flex;
        align-items: center;
    }

    h1 {
        font-size: 25px;
        /* margin-left: 30px; */
    }
}

main {
    width: 80%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: calc(100vh - 180px);
    overflow-y: scroll;
    padding: .5rem;
}

main a {
    width: 100%;
    height: 180px;
    background-image: linear-gradient(156deg, var(--azulMedioFuerte), var(--azulMedioClaro));
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    box-shadow: var(--azulF) 0 5px 10px;
}

@media only screen and (max-width:768px) {
    main {
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 90%;
        height: calc(100vh - 200px);
    }
}

main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(119, 216, 255);
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0, 160, 209);
}

h2 {
    text-align: center;
    color: white;
}

main a:hover {
    box-shadow: var(--azulF) 0 10px 10px;
    transition: .5s;
}

main a:hover h2 {
    font-size: 2rem;
    color: var(--morado);
    text-shadow: var(--azulMedio) 0 0 5px;
    transition: .5s;
}

footer {
    width: 100%;
    background-color: var(--azulMedio);
    border-top: solid 4px var(--azulMedioFuerte);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    box-shadow: var(--azulF) 0 0 .5rem;
}

p {
    /* margin: 0; */
    margin-left: 1rem;
    font-size: .8rem;
    color: var(--morado);
}

p i {
    color: var(--morado);
}

footer i {
    font-size: 1rem;
    margin-left: 1rem;
    color: var(--morado);
}

@media only screen and (max-width:768px) {
    footer {
        flex-direction: column;
        border-top: solid 4px var(--azulMedioFuerte);
    }

    p {
        margin-top: 20px;
    }
}